.inner-container{
    gap: 1.5rem;
    background: var(--black);
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #858892;
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgb(228, 226, 223);
}
.inner-container .button {
    background: #5a73d7;
    border: 2px solid #858892;
    box-shadow: var(--shadow);
    border-radius: 10px;
}